* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.water-slider-wrapper{
  display: none;
}

.water-slider-nav{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  display: inline-block;
}

.water-slider-nav--next{
  right: 2%;
}

.water-slider-nav--prev{
  left: 2%;
}
